.header-class {
  display: flex;
  width: 100%;
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
  //color: hsla(0, 0%, 100%, .7);
  background-color: #f7fffc;
  border-bottom: 1px solid gray;
  justify-content: flex-end;
}
