<form #f="ngForm" class="page-container screen-center">

<!--  <h4>Вход</h4>-->

  <div class="row ">
    <div class="col-12 col-md-12">
      <input-field name="login"
                   placeholder="Data"
                   type="text"
                   [required]="true"
                   [(ngModel)]="login"></input-field>
    </div>
  </div>

<!--  <div class="row ">-->
<!--    <div class="col-12 col-md-4">-->
<!--      <input-field name="password"-->
<!--                   placeholder="Пароль"-->
<!--                   type="password"-->
<!--                   [required]="true"-->
<!--                   [(ngModel)]="password"></input-field>-->
<!--    </div>-->
<!--  </div>-->

  <div class="row ">
    <div class="col-12 col-md-12">
      <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="doLogin()">DoCall</button>
    </div>
  </div>

</form>
