/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";


html, body {
  height: 100%;
}

.page-container {
  padding-top: 10px;
  padding-left: 10px;
  max-width: 800px;
}
